spring:
  application:
    name: config-server
  profiles:
    # чтобы брал конфиги из File System Backend, а не Git Backend
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations:
            - classpath:config/telemetry/{application}/
            - classpath:config/infra/{application}/
            - classpath:config/commerce/{application}/

server:
  port: 0

management:
  endpoints:
    web:
      exposure:
        include: health, info

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/